body {
  /* background: linear-gradient(to right, #68a063, #59f153); */
}
.back-color {
  background-color: black;
}
.jumbotron {
  background-image: url(../img/codigo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  opacity: 0.7;
}
.title-box {
  display: flex;
  justify-content: flex-end;
  color: chartreuse;
}
.title {
  z-index: 1000;
}
.about-box {
  padding-top: 20px;
}
.about {
  border: solid 1px black;
  padding: 10px;
}
.card-perfil-box {
  padding-top: 20px;
}
.card-perfil {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../img/checkerboard-cross.png);
  border: solid 1px black;
  padding: 38px 10px;
}
.img-box {
  margin-bottom: 10px;
  margin-left: 20px;
}
.card-img {
  width: 200px !important;
  height: 200px;
  border-radius: 50% !important;
  border: solid 2px black;
}
.card-skill-box {
  /* display: flex; */
  /* justify-content: center; */
  padding: 20px 0px;
}
.card-skill {
  border: solid 1px black;
  padding: 0px 15px;
}
.card-formation-box {
  padding-top: 20px;
}
.card-formation {
  border: solid 1px black;
  padding: 10px;
}
.card-experience-box {
  padding-top: 20px;
}
.card-experience {
  border: solid 1px black;
  padding: 10px;
}
.card-redes-sociais-box {
  padding-top: 20px;
}
.card-redes-sociais {
  border: solid 1px black;
  padding: 10px;
}
.redes-sociais-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.card-img-top3 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.card-img-top3:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .jumbotron {
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .card-perfil {
    flex-direction: column;
  }
}
